body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    padding: 24px 0;
}

img {
    display: block;
}

address {
    font-style: normal;
}

.nav {
    display: flex;
    align-items: center;
    width: 1158px;
}

.header-menu {
    border-bottom: 1px solid #e7e9fc;
    display: flex;
}

.web-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    margin-right: 156px;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    cursor: pointer;
    display: flex;
    margin-right: 76px;
}

.header-menu-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-style: normal;
    display: flex;
    margin: 0 auto;
}

.header-menu-list {
    display: flex;
    margin: 0 auto;
    margin-right: 0;
}

.header-contact-list {
    display: flex;
    margin-right: 40px;
}

.header-menu-link:hover {
    color: #404bbf;
}

.header-menu-link:focus {
    color: #404bbf;
}

.header-address {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    gap: 40px;
    display: flex;
}

.header-address:hover {
    color: #404bbf;
}

.header-address:focus {
    color: #404bbf;
}

.title {
    background-color: #2E2F42;
    padding: 188px 0;
}

.main-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
}

.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: #4d5ae5;
    cursor: pointer;
    color: #fff;
    letter-spacing: 0.04em;
    line-height: 1.5;
    font-size: 16px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.bio-of-company {
    padding-top: 120px;
    padding-bottom: 120px;
}

.content-title-list {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    display: flex;
    width: calc((100% - 72px) / 4);
    gap: 24px;
}

.content-list-title {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    width: calc((100% - 72px) / 4);
    gap: 24px;
}

.site-section-three {
    background-color: #F4F4FD;
    text-transform: capitalize;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title_list {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    gap: 24px;
    display: flex;
    width: calc((100% - 72px) / 4);
}

.team-title {
    text-align: center;
    margin-bottom: 72px;
}

.team-item {
    background-color: #FFFFFF;
}

.team-name {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-job {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    text-align: center;
}

.portfolio-section {
    text-transform: capitalize;
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title_text {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;

}

.main-content-list {
    line-height: 1.11;
    text-transform: capitalize;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    display: flex;
    gap: 24px;

}

.portfolio-app {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-job {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.site-footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
    display: inline-block;
}

.web-studio-too {
    color: #f4f4fd;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-studio {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.header-logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1158px;
    margin: 0 auto;
}

.container {
    margin-bottom: 16px;
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
    flex-basis: calc((100% - 72px) / 4);
    max-width: 1158px;
}

.portfolio-div {
    padding-top: 120px;
    padding-bottom: 120px;
    margin-bottom: 72px;
}

.list-item-ul {
    gap: 24px;
    display: flex;
}

.address-bio {
    display: flex;
    gap: 40px;
}

.menu-bio {
    display: flex;
    gap: 40px;
}

.list-item:first-child {
    width: calc((100% - 72px) / 4);
}

.portfolio-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.main-content-list:first-child {
    width: calc((100% - 48px) / 6);
}

.team-ul {
    display: flex;
    gap: 24px;
}

.team-item_list:first-child {
    border-radius: 0px 0px 4px 4px;
}